
.play_button {
    /* posicion inicial */
    left: 0;
    position: absolute;
    top: 0;

    /* tamaño del div a sobreponer */
    height: 100%;
    width: 100%;

    /* aleneacion del contenido (play icon) */
    align-items: center;
    display: flex;
    justify-content: center;
}

/* sobreescribo el apdding por defecto del modal */
.modal-body {
    padding: 0;
}